.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    display: none;

    &:checked ~ div {
        color: rgb(33, 152, 231);
    }
}

.label {
    width: 80vw;
    text-align: center;
    margin: 7px 0;

    &:hover {
        color: rgb(186, 186, 166);
    }
}

.reverse {
    -moz-transform: scale(-1, 1) !important;;
    -webkit-transform: scale(-1, 1) !important;;
    -o-transform: scale(-1, 1) !important;;
    -ms-transform: scale(-1, 1) !important;;
    transform: scale(-1, 1) !important;; 
}

.pageIndex {
    margin: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  